<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>

<h1>Calculadora</h1>
    <!-- ACTION => para onde os dados vao
        METHOD => como eles vao-->
    <form action="" method="POST">

    <label for="km">Km: {{ km }}</label>
    <input type="number" name="km" id="km">
    <br><br>
    <label for="dias">Dias de deslocamento por semana: {{ dias }}</label>
    <input type="number" name="dias" id="dias">
    <br>
    <label for="meio">Meio de transporte: {{ meio }}</label>
    <select class="form-select" id="meio" name="meio">
    <option value="">-- Selecione --</option>
    {# value="" para a opção padrão: permite verificar se o usuário selecionou algo #}
    <option value="0.00">Bicicleta ou a pé (0.00)</option>
    <option value="0.05">Carro elétrico (0.05)</option>
    <option value="0.07">Ônibus (0.07)</option>
    <option value="0.10">Moto (0.10)</option>
    <option value="0.20">Carro a gasolina (0.20)</option>
  </select>


    <br><br>
    <button type="submit">CALCULAR</button>

    </form>
    
</body>
</html>